.memories{
    display: flex;
    flex-direction: column;
    margin: 2vw;
}

.page-title{
    width:70vw;
}

.memory-card{
    display: flex;
    flex-direction: row;
    width:90vw;
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom:10px;
    padding:20px;
    border-radius: 20px;
    gap:10px;
}

.memory-title{
    margin:0;
    margin-top: 10px;
}

.memory-date{
    font-size: 0.8rem;
}

.memory-description{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    width: 30vw;
    margin-top:10px;
}

p{
    margin:2px;
}

.more-link{
    text-decoration: none;
    color:rgb(198, 113, 96);
    margin-bottom: 20px;
}

.more-link:hover{
    color:rgb(255, 132, 0);
}

/* for the specific memory card from id page  */
.memory-container{
    display: flex;
    justify-content: center;
    margin-top:10px;

}

.memory-details{
    display: flex;
    flex-direction: column;
}

.memory-description-long{
    width: 50vw;
    height:auto;
    overflow: scroll;
}

.img-placeholder{
    width: 150px;
    height: 150px;
    background-color: azure;
}